.btn-round {
  padding: 10px 25px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #161c35;
  text-align: center;
  background-color: #ffd74b;
  border-radius: 25px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(#161c35, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-round--icon {
  background-image: url("https://via.placeholder.com/18x18");
  background-repeat: no-repeat;
  background-position: center center;
}
