.btn-round {
  padding: 10px 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-two;
  text-align: center;
  background-color: $light-gold;
  border: none;
  border-radius: 25px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba($dark-two, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-round--grey {
  background-color: $light-periwinkle;

  &:hover,
  &:focus {
    background-color: $light-blue-grey-four;
  }

  &:active {
    .btn-round__text-n-svg,
    .btn-round__text-n-svg::before {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 100px;
    border-radius: 20px;
  }
}

.btn-round__text-n-svg {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-round__text-n-svg::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  content: "";
  background-image: url("../img/filter-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 19px;
    margin-right: 19px;
    background-size: 19px;
  }
}

.btn-round--light {
  background-color: $white;
  min-width: 40px;
  padding: 5px 10px;

  &:hover,
  &:focus {
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba($black, 0.08);
  }

  &:active {
    background-color: $macaroni-and-cheese;
  }

  @media (min-width: $tablet-width) {
    min-height: 50px;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

.btn-round--pale {
  background-color: #dfe3f0;
}

.btn-round--icon {
  padding: 10px 20px;
  background-image: url("https://via.placeholder.com/18x18");
  background-repeat: no-repeat;
  background-position: center center;
}
