.btn-rectangle {
  display: block;
  padding: 22px 23px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $dark-slate-blue;
  background-color: $light-gold;
  border-radius: 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $mango-two;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 28px 126px 28px 32px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}
