.card-travelmate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $white;
  padding: 15px 20px 20px;
  color: $dark-slate-blue;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 35px;
    justify-content: flex-start;
    align-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    align-content: center;
    box-sizing: border-box;
    width: 950px;
    min-height: 285;
    padding-left: 285px;
    padding-top: 50px;
    column-count: 2;
    column-gap: 20px;
    column-rule-style: solid;
  }
}

.card-travelmate + .card-travelmate {
  margin-top: 10px;
}

.card-travelmate__header {
  outline: 1px solid red;
  display: flex;
  align-self: start;
  justify-content: space-between;
  // flex-grow: 1;
  width: 61%;
  padding: 2px;
}

.card-travelmate__title {
  width: 70%;
  margin: -1px 0 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    order: 0;
    margin-left: 258px;
    margin-right: 0;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    align-self: flex-start;
    margin-left: 0;
  }
}

.card-travelmate__status {
  position: relative;
  top: 8px;
  right: 2px;
  // align-self: flex-start;
  width: 6px;
  height: 6px;
  margin: 0;
  background-color: $salmon;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    position: static;
    top: auto;
    right: auto;
    margin: 10px 20px 15px;
  }
}

.card-travelmate__title-link {
  text-decoration: none;
  color: $dark-slate-blue;
}

.card-travelmate__img-link {
  order: -1;
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}

.card-travelmate__photo {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}

.card-travelmate__like-wrapper {
  position: relative;
  display: flex;
  outline: 1px solid blue;
  padding: 5px;
}

.card-travelmate__btn-like {
  // position: absolute;
  // top: 54px;
  // left: 67px;
  width: 31px;
  height: 31px;
  padding: 0;
  background-color: $very-light-pink-two;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    order: 4;
    position: static;
    top: auto;
    left: auto;
  }
}

.card-travelmate__likes {
  // position: absolute;
  // top: 45px;
  // left: 105px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: $dark-two;

  @media (min-width: $tablet-width) {
    order: 5;
    position: static;
    top: auto;
    left: auto;
  }
}

.card-travelmate__transport-n-level {
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline: 1px solid green;
  padding: 2px; // временно
  margin-bottom: 20px;
}

.card-travelmate__countries-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: 1px solid blue;
  padding: 5px;
}

.card-travelmate__transport-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  outline: 1px solid blue;
  padding: 5px;
}

.card-travelmate__level-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  outline: 1px solid blue;
}

.card-travelmate__tags,
.card-travelmate__countries-title,
.card-travelmate__transport-title,
.card-travelmate__level-title {
  margin: 5px 0 0;
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: $greyish-brown;
}

.card-travelmate__tags {
  outline: 1px solid blue;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 250px;
    margin-left: 258px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-left: 40px;
    margin-right: 120px; // сомнительно
  }
}

.card-travelmate__countries-title,
.card-travelmate__transport-title {
  width: 100%;
}

.card-travelmate__countries-title {
  @media (min-width: $tablet-width) {
    order: 7;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.card-travelmate__countries {
  outline: 1px solid red;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    order: 7;
    display: flex;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

.card-travelmate__transport-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card-travelmate__country {
  outline: 1px solid green;
  padding-left: 40px;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.card-travelmate__transport-list {
  outline: 1px solid red;
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 39px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    order: 6;
    position: static;
    flex-direction: row;
  }
}

.card-travelmate__transport {
  display: block;
  width: 32px;
  height: 32px;
  background-color: $pale-grey;
  border-radius: 50%;
}

.card-travelmate__level {
  outline: 1px solid red;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 6;
    margin-left: auto;
  }
}

.card-travelmate__btn-call {
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-two;

  @media (min-width: $tablet-width) {
    order: 3;
    width: auto;
    margin-left: 255px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 55px;
  }
}
