.countries {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 50px;

    &::before {
      position: absolute;
      top: -40px;
      left: -10px;
      width: 141px;
      height: 141px;
      content: "";
      background-color: $pale-grey-four;
      border-radius: 20px;
    }
  }
}

.countries__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  &::after {
    // маска что скрывает последнюю страну белым туманом
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(white, 0) 30%, $pale-grey 100%);
    border-radius: 10px;
    content: "";

    @media (min-width: $tablet-width) {
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      height: 30%;
      background-image: linear-gradient(rgba(white, 0) 30%, $pale-grey 100%);
    }
  }

  @media (min-width: $desktop-width) {
    height: 450px;
    overflow: hidden; // как решить переполнение? Скрыть) если контенста не видно, значит его нет, значит нет проблем)
  }
}
