.countries-filter {
  z-index: 0;
  margin-top: -20px;
  padding: 36px 0 27px;
  background-color: $pale-grey-four;
  border-radius: 0 0 20px 20px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
    padding-top: 117px;
    padding-bottom: 73px;
    border-radius: 0 0 60px 60px;

    .wrapper {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    .wrapper {
      justify-content: flex-start;
    }
  }
}

.countries-filter--closed {
  padding-bottom: 1px;

  .countries-filter__continents,
  .countries-filter__alphabet,
  .countries-filter__countries-lists,
  .countries-filter__btn-close {
    display: none;
  }

  .countries-filter__btn-toggle {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-right: 4px;
    background-image: url("../img/dots.svg");
    background-size: 18px 3px;
    outline: 1px solid red;
    background-position: center center;

    @media (min-width: $tablet-width) {
      width: auto;
      height: auto;
      padding-top: 0;
      margin-top: 0;
      padding-right: 46px;
      margin-right: 36px;
      background-position: right calc(50% - 2px);
      background-size: 27px 5px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 53px;

    .countries-filter__continents {
      display: flex;
    }
  }
}

.countries-filter__title {
  max-width: calc(100% - 50px); // для переполнения
  margin-top: 0;
  padding: 0 0 0 27px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: $dark-blue-grey;
  text-transform: uppercase;
  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 15px 11px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    display: inline;
    margin-left: 20px;
    padding-left: 44px;
    font-size: 20px;
    line-height: 24px;
    background-size: 23px 15px;
  }
}

.countries-filter__show-on-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.countries-filter__btn-toggle {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-right: 7px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-blue-grey;
  background-color: transparent;
  border: none;
  background-image: url("../img/filter-close.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
    margin: -1px 38px 0 0;
    padding-right: 82px;
    padding-left: 0;
    background-position: right center;
    box-sizing: border-box;
    background-size: 19px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-left: auto;
    margin-right: 67px;
  }
}

.countries-filter__hide-on-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.countries-filter__continents {
  width: 100%;
  margin: 17px 0 0;
  padding: 0 25px;
  outline: 1px solid #0000ff;
  list-style: none;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    margin: 0;
    padding-left: 34px;
    padding-right: 0;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    align-self: start;
    max-width: 60%;
    padding-left: 33px;
  }
}

.countries-filter__continent {
  @media (min-width: $tablet-width) {
    margin-right: 29px;

    &:first-child {
      margin-right: 25px;
    }
  }
}

.countries-filter__continent + .countries-filter__continent {
  margin-top: 5.5px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.countries-filter__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: rgba($dark-blue-grey, 0.3);

  &--active {
    color: $dark-blue-grey;
  }

  &:hover:not(.countries-filter__link--active),
  &:focus:not(.countries-filter__link--active) {
    color: rgba($dark-blue-grey, 0.6);
  }

  &:active:not(.countries-filter__link--active) {
    color: $dark-blue-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.countries-filter__alphabet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20.5px 25px 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 65%;
    margin: 46px 0 0;
    padding: 0 12px;
    outline: 1px solid green;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

// .countries-filter__letter {
//   @media (min-width: $tablet-width) {
//   }
// }

.countries-filter__btn-letter {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 41px;
  font-size: 14px;
  line-height: 18px;
  font-weight: medium;
  color: $dark-slate-blue;
  text-transform: uppercase;
  border: 1px solid $cloudy-blue;
  background-color: $white;

  @media (min-width: $tablet-width) {
    // margin: 22px;
    width: 77.5px;
    height: 77px;
    margin-bottom: 6px;
    font-size: 60px;
    line-height: 24px;
    font-weight: bold;
    color: rgba($dark-blue-grey, 0.2);
    border: none;
    background-color: transparent;
  }
}

.countries-filter__btn-letter--active {
  color: $white;
  background-color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    color: $dark-blue-grey;
    background-color: transparent;
  }
}

.countries-filter__countries-lists {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
  outline: 1px solid orange;

  @media (min-width: $tablet-width) {
    width: 31%;
    margin-top: 54px;
    padding-left: 3px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    padding: 0 30px 0 35px;
    flex-wrap: wrap;
  }
}

.countries-filter__countries-lists-item {
  @media (min-width: $desktop-width) {
    width: 20%;
    padding-top: 16.5px;
    margin-bottom: 55px; // временно, не все попадает по макету (страны, буквы)
    outline: 1px solid red;
    box-sizing: border-box;
  }
}

.countries-filter__countries-list {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0 26px;
  list-style: none;
  outline: 1px solid #0000ff;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.countries-filter__country + .countries-filter__country {
  margin-top: 0.5px;
}

.countries-filter__country-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: $greyish-brown;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.countries-filter__countries-list-title {
  display: none;
  font-size: 60px;
  line-height: 24px;
  font-weight: bold;
  color: $dark-blue-grey;

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 0;
    margin-bottom: 52px;
  }
}

.countries-filter__btn-close {
  width: 100%;
  min-height: 40px;
  margin-top: 29px;
  padding: 5px;
  font-size: 17px;
  line-height: 30px;
  color: $dark-two;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 100px;
    margin: 17px 0 0;
  }
}
