.info {
  outline: 1px solid #0000ff;
}

.info__photo {
  border-radius: 50%;
}

.info__btn-photo {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-two;
}

.info__legend {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-slate-blue;
}

.info__textarea-tags {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: $greyish-brown;
  background-color: $pale-grey;
  border: 1px solid $cloudy-blue;
}
