.intro {
  min-height: 970px;
  color: #ffffff;
  background-color: #161c35;
  outline: 2px solid #00ff00;
  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 240px, center -70px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-position: center 200px, center 90px;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");

    .wrapper {
      padding-top: 50px;
    }
  }
}

.intro__title {
  border: 1px solid red;
  margin: 0 0 320px;
  padding: 25px 0 15px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 50px 150px;
    margin-bottom: 96px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    padding: 70px 95px;
    text-align: left;
  }
}

.intro__contacts {
  display: flex;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
  }
}

.intro__blockquote {
  outline: 2px solid blue;
  padding: 0 50px 0 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin-bottom: 140px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.intro__blockquote-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.intro__blockquote-cite {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

.intro__steps-list {
  padding: 0;
  outline: 2px solid #0000ff;
  background-color: #ffe895;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    margin-top: 200px;
  }
}

.intro__steps {
  padding: 25px 105px 25px 25px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #161c35;
  border-radius: 10px;
  list-style: none;

  &:nth-child(1) {
    background-color: #ff8d30;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 50%;
    padding: 25px 105px 25px 25px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.intro__steps + .intro__steps {
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
