.main-nav {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 73px 25px 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 134px 97px 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    align-self: flex-start;
    width: auto;
    flex-grow: 1;
    padding: 0;
    background-color: transparent;
  }
}

.main-nav--closed {
  position: absolute;
  background-color: transparent;
  padding: 0;

  .main-nav__list,
  .main-nav__auth,
  .main-nav__contacts,
  .main-nav__social {
    display: none;
  }

  .main-nav__toggle {
    top: 22px;
    right: 25px;
    width: 25px;
    height: 12px;
    background-image: url("../img/menu.svg");

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 60px;
      right: 50%;
      transform: translateX(50%);
    }

    &--index {
      top: 30px;

      @media (min-width: $tablet-width) {
        top: 60px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    .main-nav__auth {
      position: absolute;
      display: inline-block;
      top: 40px;
      right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    .main-nav__list,
    .main-nav__auth,
    .main-nav__contacts {
      display: flex;
      align-self: flex-start;
    }

    .main-nav__auth {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 27px;
  width: 19px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-position: center center;
  background-repeat: no-repeat;

  &--index {
    top: 28px;
  }

  @media (min-width: $tablet-width) {
    top: 56px;
    right: 50%;
    transform: translateX(50%);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--no-js {
  position: relative;
  width: 100%;

  .main-nav__toggle {
    display: none;
  }
}


.main-nav__list {
  margin: 27px 0 50;

  @media (min-width: $tablet-width) {
    margin: 45px 0 143px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 40px;
    order: 0;
  }
}

.main-nav__link {
  color: $dark-blue-grey;
  font-size: 30px;
  line-height: 36px;
  font-weight: medium;
}

.main-nav__auth {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 40px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    order: 2;
  }
}

.main-nav__contacts {
  list-style: none;
  margin: 51px 0 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 1;
    margin: 0;
  }
}

.main-nav__phone,
.main-nav__email {
  position: relative;
  display: block;
  padding: 12px 0 12px 60px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-blue-grey;

  &::before {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    content: "";
    border-radius: 50%;
    background-color: $dark-blue-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 90px;
    margin-bottom: 15px;

    &::before {
      top: -9px;
      width: 67px;
      height: 67px;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    span {
      display: none;
    }

    &::before {
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background-color: $mango;

    }

    &:hover::before {
      background-color: $dusty-orange;
    }
  }
}

.main-nav__email {
  @media (min-width: $desktop-width) {
    &::before {
      background-color: $mango-two;
    }

    &:hover::before {
      background-color: $mango;
    }
  }
}
//   .main-nav__phone::before {
  //     background-image: url("../img/contacts-phone.svg");
  //   }

  //   @media (min-width: $tablet-width) {
    //     padding: 20px 0 20px 91px;
    //     font-size: 28px;
    //     line-height: 28px;

    //     &::before {
      //       width: 68px;
      //       height: 68px;
      //     }
      //   }

      //   @media (min-width: $desktop-width) {
        //     display: inline-block;
        //     width: 50px;
        //     height: 50px;
        //     padding: 0;
        //     background-color: $mango;
        //     border-radius: 50%;

        //     span {
          //       display: none;
          //     }

          //     &::before {
            //       display: none;
            //     }
            //   }
            // }

.main-nav__phone-svg,
.main-nav__email-svg {
  z-index: 3;
  position: absolute;
  top: 13px;
  left: 13px;

  path {
    fill: $light-gold;
  }

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 27px;
    top: 11px;
    left: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__phone-svg-desktop,
.main-nav__email-svg-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    z-index: 3;
    position: absolute;
    display: block;
    top: 16px;
    left: 17px;

    path {
      fill: $dark-two;
    }

    &:active {
      path {
        fill: rgba($dark-two, 0.3);
      }
    }
  }
}

.main-nav__email-svg {
  top: 16px;

  @media (min-width: $tablet-width) {
    top: 13px;
  }
}

.main-nav__email-svg-desktop {
  @media (min-width: $desktop-width) {
    top: 18px;
    left: 16px;
  }
}

.main-nav__social {
  margin: 41px 0 40px;

  @media (min-width: $tablet-width) {
    margin: 139px 0 90px;
  }
}
