.main-nav {
  padding: 5px 10px;
  background-color: #ffffff;
  outline: 2px solid #00ff00;
}

.main-nav__link {
  color: #192144;
  font-size: 30px;
  line-height: 36px;
  font-weight: medium;
}

.main-nav__auth {
  color: #161c35;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.main-nav__phone,
.main-nav__email {
  color: #192144;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
