.map-address {
  margin-top: -30px;
  padding-top: 62px;
  padding-bottom: 30px;
  background-color: $light-gold;
  border-radius: 0 0 30px 30px;

  .wrapper {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    .wrapper {
      display: flex;
      justify-content: center;
    }
  }
}

.map-address__address {
  position: relative;
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 30px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-blue-grey;

  &::before {
    position: absolute;
    left: 0;
    display: block;
    width: 45px;
    height: 45px;
    content: "";
    background-color: $dark-blue-grey-two;
    border-radius: 50%;
    background-image: url("../img/contacts-location.svg");
    background-size: 14px 22px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 0;
  }
}

.map-address__btn {
  width: 100%;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.map-address__map {
  position: absolute;
  border: 1px solid red;
  top: -30px;
  left: 0;
  right: 0;
  z-index: -1;
}
