.my-plans {
  padding: 30px 0 60px;
  background-color: $pale-grey-two;
  border-radius: 30px 30px 0 0;
}

.my-plans__title {
  // каким то образом нужно показывать то убивать двоеточие в конце
  margin: 0 0 35px;
}

.my-plans__plans-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.my-plans__plan {
  padding: 25px;
  margin: 25px;
  background-color: $white;
}
// цифры на макете размечены иначе, и должны ли они быть в контенте или все же в css?
