.pages-controls {
  outline: 1px solid #00ff00;
  margin: 30px 0 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: $white;
  }
}

.pages-controls__list-pages {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.pages-controls__link {
  display: block;
  box-sizing: border-box;
  padding: 7px 17px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: $dark-two;
  text-decoration: none;

  &--active {
    background-color: $light-gold;
    border-radius: 50%;
  }
}

.pages-controls__navigation {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;

  @media (min-width: $tablet-width) {
    width: 128px;
  }
}

.pages-controls__btn-next-page,
.pages-controls__btn-previous-page {
  width: 100%;
  height: 50px;
  background-color: $white;
  background-image: url("https://via.placeholder.com/10x20");
  background-repeat: no-repeat;
  background-position: center center;
}

.pages-controls__btn-next-page {
  border-radius: 20px 0 0 20px;
  margin-right: 1px;
}

.pages-controls__btn-previous-page {
  border-radius: 0 20px 20px 0;

}
