.page-header {
  color: #ffffff;
  outline: 2px solid #ff0000;
  background-color: #161c35;
  min-height: 73px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 132px;

    .wrapper {
      padding: 43px 0;
    }
  }
}

.page-header__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
}

.page-header__logo {
  outline: 1px solid #00ff00;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}
