.page-header {
  position: relative;
  z-index: 1;
  color: $white;
  background-color: $dark-two;
  border-radius: 0 0 20px 20px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 0 0;
  }

  &--index {
    .wrapper {
      padding-top: 27px;
    }

    .page-header__name-page {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;

    &--index {
      background-color: $dark-blue-grey; // может шапка на главной все-таки прозрачна?
    }

    .wrapper {
      padding: 46px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--index {
      background-color: $dark-two; // или нет? шапка динамически меняется и каждый раз отступы менять для интро проблемно
    }

    .wrapper {
      align-self: flex-start;
      padding-top: 49px;
      box-sizing: border-box;
    }
  }
}

.page-header--no-js {
  .wrapper {
    padding: 0;
    margin: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 27px;
    left: 27px;
  }
}

.page-header__name-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 126px;

    &--catalog {
      .page-header__link-to-index {
        display: block;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 110px;
    order: 1;
  }
}

.page-header__link-to-index {
  display: none;
  margin-top: 29px;
  padding-right: 96px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../img/return.svg");
  background-size: 32px 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 35px) 2px;

  @media (min-width: $desktop-width) {
    margin-right: 28px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-header__title {
  position: relative;
  display: flex;
  width: auto;
  margin: 0;
  padding-bottom: 12px;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: $white;

  &::after {
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
    background-color: $mango;
    border-radius: 2.4px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 34px;
    padding-bottom: 68px;
    font-size: 60px;
    line-height: 70px;

    &::after {
      bottom: -4px;
      height: 8px;
      border-radius: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 66px;
  }
}

.page-header__logo {
  position: relative;
  z-index: 5;
  outline: 1px solid #00ff00;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}
