.page-footer {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  padding: 40px 0 0;
  background-color: $white;
  color: $greyish-brown;
  border-radius: 30px 30px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 60px 60px 0 0;
  }
}

.page-footer .wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

.page-footer__logo {
  display: block;
  width: 100px;
  height: 18px;
  margin: 0 auto 35px;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 164px;
    height: 42px;
    outline: 1px solid red;
    margin: 0;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
