.plan {
  outline: 1px solid pink;
}

.plan__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: $dark-slate-blue;
}

.plan__travelmates,
.plan__dates {
  font-size: 14px;
  line-height: 14px;
  font-weight: medium;
  text-transform: uppercase;
  color: $dark-slate-blue;
}

.plan__btn-change {
  font-size: 14px;
  line-height: 18px;
  font-weight: medium;
  text-transform: uppercase;
  color: rgba($black, 0.3);
  text-decoration: none;
}
