.rates {
  position: relative;
  padding: 50px 24px 35px;
  color: $greyish-brown;
  border-radius: 0 0 30px 30px;

  .rates__title {
    margin-top: 0;
    margin-bottom: 45px;
    width: 50%;
    font-size: 24px;
    line-height: 24px;
  }

  .rates__text {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 72px 30px 85px;
    border-radius: 0 0 60px 60px;
    border-bottom: 1px solid red;

    .rates__title {
      width: 100%;
      margin-left: 1px;
      margin-bottom: 80px;
      font-size: 45px;
      line-height: 45px;
      text-align: center;

    }
  }

  @media (min-width: $desktop-width) {
    .wrapper {
      padding-left: 0;

      .rates__title {
        padding-top: 32px;
      }
    }
  }
}

.rates__list {
  // outline: 1px solid orange;
  margin: 0 0 28px;
  padding: 0;
  padding-right: 21px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 60px;
    margin-bottom: 67px;

    &--business {
      padding-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 300px;

    &--business {
      padding: 0;
    }
  }
}

.rates__list-item {
  border-top: 1px solid rgba($black, 0.05);
  padding: 10px 0 12px;

  &:last-child {
    border-bottom: 1px solid rgba($black, 0.05);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 14px;

    .rates__text:first-child {
      width: 90%; //?
      border: 1px solid green;
    }

    .rates__text:last-child {
      flex-grow: 0;
      border: 1px solid red;
      text-align: right;
    }
  }
}

.rates__btn-open-business {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: $dark-blue-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 58px;
    color: $light-navy;
  }
}

.rates--business {
  position: relative;
  display: none;
  background-color: $white;
  background-image: none;
  border-radius: 20px;

  .rates__title {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    border-radius: 30px;
  }
}

.rates__btn-close-business {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  padding: 18px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: $dark-slate-blue;
  background-color: $pale-grey-five;
  text-transform: uppercase;
  border: none;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 30px 30px;
  }
}

.rates--business-opened {
  z-index: 5;
  position: absolute;
  top: -10px;
  right: 50%;
  transform: translateX(50%);
  display: block;
}
