.site-list {
  outline: 1px solid green;
  padding: 28px 0 0;
  background-color: #ffffff;
  color: #192144;
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-right: auto;
    background-color: #161c34;
    color: #ffffff;
  }
}

.site-list__item {
  a {
    outline: 1px solid red;
    color: #192144;
    text-decoration: none;
    text-transform: uppercase;
  }


  @media (min-width: $tablet-width) {
    text-align: left;

    a {
      font-size: 60px;
      line-height: 70px;
    }
  }
}
