.site-list {
  outline: 1px solid green;
  padding: 28px 0 0;
  background-color: #ffffff;
  color: #192144;
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    align-content: center;
    margin-right: auto;
    padding: 0;
    background-color: #161c34;
    color: #ffffff;
  }
}

.site-list__item {
  a {
    outline: 1px solid red;
    color: #192144;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    a {
      font-size: 60px;
      line-height: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: auto 20px;

    a {
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }

    &:first-child::before {
      display: block;
      margin: auto 50px auto 10px;
      width: 60px;
      height: 2px;
      content: "";
      background-color: #fff;;
    }
  }
}
