.site-list {
  padding: 0;
  background-color: $white;
  color: $dark-blue-grey;
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 12px;
    margin-right: auto;
    padding: 0;
    background-color: transparent;
    color: $white;
  }
}

.site-list__item {
  a {
    color: $dark-blue-grey;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
    text-align: left;

    a {
      font-size: 60px;
      line-height: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-self: center;
    margin: 0;

    a {
      position: relative;
      align-self: center;
      margin-right: 35px;
      font-size: 20px;
      line-height: 30px;
      color: $white;

      &::after {
        position: absolute;
        bottom: 0;
        color: red;
        content: attr(title);
      }

      &:hover,
      &:focus {
        color: $light-gold;
      }

      &:active {
        color: rgba($light-gold, 0.3);
      }
    }

    &:first-child::before {
      display: block;
      align-self: center;
      margin: 0 45px 0 0;
      width: 60px;
      height: 2px;
      content: "";
      background-color: $white;
    }
  }
}
