.social {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 0 0 5px;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: start;
    padding-left: 12px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.social__item {
  margin: 0 13px;

  @media (min-width: $tablet-width) {
    margin: 0 14px;
  }
}

.social__link {
  display: block;
}

.social__link--facebook {
  width: 11px;
  height: 21px;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.social__link--vkontakte {
  width: 23px;
  height: 12px;
  margin-top: 3px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 16px;
    margin-top: 6px;
    margin-left: 9px;
  }
}

.social__link--instagram {
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-top: 1px;
    margin-left: 5px;
  }
}

.social__facebook-svg,
.social__vk-svg,
.social__instagram-svg {
  display: block;
  margin: auto;
  path,
  circle {
    fill: $dark-blue-grey;
  }

  @media (min-width: $tablet-width) {
    path,
    circle {
      fill: $pinkish-grey;
    }
  }
}

.social--footer {
  .social__item {
    align-self: center;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: $light-gold;
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
