.social {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.social__item {
  width: 20px;
  height: 20px;
  margin: 0 25px;
  background-image: url("https://via.placeholder.com/20x20");
  background-repeat: no-repeat;
  background-position: center center;
}
