.travelmate {
  background-color: #ffffff;
  color: #1d2e5b;
  padding: 10px 20px;
}

.travelmate__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.travelmate__tags {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: normal;
  text-align: center;
}
