.travelmate-filter {
  padding: 24px 0 22px;
  margin: 24px 25px;
  background-color: $light-gold;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    margin: 45px 40px 34px;
    padding: 35px 0px 40px;

    .wrapper {
      margin: 0 35px;
    }
  }

  @media (min-width: $desktop-width) {
    order: 1;
    align-self: flex-start;
    width: 285px;
    margin: 77px 60px 80px 10px;
    padding: 47px 12px;
    box-sizing: border-box;
  }
}

.travelmate-filter__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 22.5px;
  line-height: 22.5px;
  font-weight: bold;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    padding-bottom: 39px;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    border-bottom: 1px solid $macaroni-and-cheese;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.travelmate-filter__fieldset {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.travelmate-filter__fieldset--closed {
  .travelmate-filter__btn-toggle {
    transform: rotate(0deg);
  }

  .travelmate-filter__checkbox-list,
  .travelmate-filter__transport-icons {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .travelmate-filter__checkbox-list,
    .travelmate-filter__transport-icons {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    .travelmate-filter__checkbox-list,
    .travelmate-filter__transport-icons {
      display: none;
    }
  }
}

.travelmate-filter__fieldset + .travelmate-filter__fieldset {
  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}

.travelmate-filter__fieldset + .travelmate-filter__fieldset--level {
  margin-top: 15px;

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.travelmate-filter__fieldset--transport {
  @media (min-width: $tablet-width) {
    .travelmate-filter__header-fieldset {
      margin-right: -2px;
    }

    .travelmate-filter__legend {
      margin-top: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    .travelmate-filter__legend {
      margin-top: 0px;
    }
  }
}

.travelmate-filter__fieldset--level {
  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid $macaroni-and-cheese;

    .travelmate-filter__legend {
      transform: translateY(8px);
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    border-bottom: none;

    .travelmate-filter__legend {
      transform: translateY(0px);
    }
  }
}

.travelmate-filter__checkbox-list {
  margin: 0 0 21px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.travelmate-filter__transport-icons {
  display: flex;
  margin: 0 0 20px;
  padding: 5px 0 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-self: center;
    padding-top: 2px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
    align-self: flex-start;
  }
}

.travelmate-filter__header-fieldset {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 9px 0 10px;
  border-top: 1px solid $macaroni-and-cheese;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 20%;
    padding: 0;
    margin: 0 3px 0 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.travelmate-filter__legend {
  align-self: flex-start;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: $dark-slate-blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: medium; // не работает?
    transform: translateY(3px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(1px);
  }
}

// двоеточие
.travelmate-filter__show-on-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.travelmate-filter__btn-toggle {
  align-self: stretch;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: -5px;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 8px 4px;
  background-position: center center;
  border: none;
  background-color: transparent;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    display: none;
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    display: block;
    align-self: center;
  }
}

.travelmate-filter__checkbox-list-item {
  @media (min-width: $tablet-width) {
    width: 33%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.travelmate-filter__label-checkbox {
  position: relative;
  display: block;
  min-height: 18px;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  color: $greyish-brown;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    align-self: start;
    font-size: 20px;
    line-height: 20px;
  }
}

// .travelmate-filter__label-checkbox::before {
//   display: inline-block;
//   width: 18px;
//   height: 18px;
//   margin-right: 4px;
//   content: "";
//   background-color: $white;
//   border-radius: 4px;
//   transform: translateY(4px);

//   @media (min-width: $tablet-width) {
//     width: 24px;
//     height: 24px;
//     transform: translateY(5px);

//   }
// }

.travelmate-filter__checkbox + .travelmate-filter__tick {
  // position: absolute;
  left: 5px;
  top: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: $white;
  content: "";
  // background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center center;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    top: 11px;
    width: 24px;
    height: 24px;
    background-size: 12px;
  }
}

.travelmate-filter__checkbox:checked + .travelmate-filter__tick {
  background-image: url("../img/tick.svg");
}

.travelmate-filter__checkbox:focus + .travelmate-filter__tick {
  opacity: 0.6;
}

.travelmate-filter__checkbox-list-item + .travelmate-filter__checkbox-list-item {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}

.travelmate-filter__level-numbers {
  position: relative;
  display: flex;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 150px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 14px;
  }
}

.travelmate-filter__label-number {
  width: 100%;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.travelmate-filter__number {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 15px;
  font-weight: medium;
  text-align: center;
  letter-spacing: 1.5px;
  color: $dark-slate-blue;
  border: 1px solid $cloudy-blue;

  &:hover,
  &:focus {
    border-color: $bluey-grey;
    outline: none;
  }

  &:active {
    border-color: $dark-two;
  }

  @media (min-width: $tablet-width) {
    height: 46px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

.travelmate-filter__label-number:first-child {
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 11px;
    content: "";
    background-color: white;
  }

  &::after {
    height: 1px;
    background-color: $cloudy-blue;
  }

  .travelmate-filter__number {
    border-radius: 3px 0 0 3px;
  }
}

.travelmate-filter__label-number:last-child {
  .travelmate-filter__number {
    border-radius: 0 3px 3px 0;
  }
}

.travelmate-filter__controls-line {
  @media (min-width: $tablet-width) {
    margin: 20px 61px 20px 0;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.travelmate-filter__btn-show {
  width: calc(100% + 10px);
  margin: 7px -5px 0;
  color: $dark-two;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 35px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% + 5px);
    margin: 22px -5px 0 0;
  }
}
