.travelmates {
  // Тут сложный фон из нескольких картинок будет
  margin-top: 63px;
}

.travelmates__list {
  padding: 0;
  list-style: none;
}

.travelmates__list-item {
  outline: 1px solid green;
}

.travelmates__list-item + .travelmates__list-item {
  margin-top: 10px;
}

.travelmates__to-all {
  margin: 20px 0 30px;
}
