.travelmate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: $white;
  color: $dark-slate-blue;
  border-radius: 10px;
}

.travelmate__photo {
  // поменял пути фото из мобильной в десктоп, так как макету требуется фото 270х270, странный момент этот (!)
  min-width: 270px;
  min-height: 270px;
  order: -1;
  border-radius: 10px 10px 0 0;
}

.travelmate__name {
  position: relative;
  margin: 24px 0 15px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.travelmate__status {
  position: relative;
  display: inline-block;
  top: -3px;
  left: -10px;
  width: 5px;
  height: 5px;
  background-color: $salmon;
  border-radius: 50%;
}

.travelmate__level {
  position: absolute;
  top: 16px;
  left: 16px;
  outline: 1px solid red;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
}

.travelmate__tags {
  margin: 0 0 18px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 18px;
  color: $greyish-brown;
  font-weight: normal;
  text-align: center;
}

.travelmate__countries {
  position: absolute;
  top: 255px;
  right: 50%;
  transform: translateX(50%);
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.travelmate__country {
  margin: 0;
  padding: 0;
}

.travelmate__country + .travelmate__country {
  margin-left: 17px;
}

.travelmate__transport-list {
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
}

.travelmate__transport {
  outline: 1px solid green;
  width: 20px;
  height: 25px;
  background-color: $dark-slate-blue;

  &--hidden {
    background-color: #d9d9d9; // что за цвет?
  }
}

.travelmate__transport + .travelmate__transport {
  margin-left: 12px;
}
