@import "blocks/fonts.scss";
@import "blocks/common.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
@import "blocks/level.scss";
// index.html
@import "blocks/intro.scss";
@import "blocks/main-section.scss";
@import "blocks/countries.scss";
@import "blocks/travelmates.scss";
@import "blocks/travelmate.scss";
