@import "blocks/normalize.scss";
@import "blocks/fonts.scss";
@import "blocks/common.scss";
@import "blocks/btn-round.scss";
@import "blocks/btn-rectangle.scss";
// header
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
@import "blocks/level.scss";
@import "blocks/copyright.scss";
// index.html
@import "blocks/intro.scss";
@import "blocks/main-section.scss";
@import "blocks/countries.scss";
@import "blocks/country.scss";
@import "blocks/travelmates.scss";
@import "blocks/travelmate.scss";
@import "blocks/rates.scss";
// catalog.html
@import "blocks/card-travelmate.scss";
@import "blocks/pages-controls.scss";
@import "blocks/countries-filter.scss";
@import "blocks/travelmate-filter.scss";
// form.html
@import "blocks/forms.scss";
@import "blocks/info.scss";
@import "blocks/my-plans.scss";
@import "blocks/plan.scss";
@import "blocks/add-plan.scss";
@import "blocks/step.scss";
